<div class="form-group" [formGroup]="form">
  <ng-container formGroupName="employee">
    <mat-form-field class="form-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Hourly rate</mat-label>
      <input matInput type="number" formControlName="hourlyRate">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Rate overtime</mat-label>
      <input matInput type="number" formControlName="hourlyRateOvertime">
    </mat-form-field>
  </ng-container>
</div>
